.about-us__header {
  margin-top: 70px;
}


.about-us__title {
  font-family: @font700;
  font-size: 25px;
  font-weight: 700;
  color: #000000;
  line-height: 30px;
}

.about-us__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.about-us__item {
  font-family: @font700;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 85px;
  position: relative;
}

.about-us__item--eco {
  width: 175px;

  &::before {
    content: url("../../img/icon-1.png");
    .icons1;
  }
}

.about-us__item--rate {
  width: 200px;

  &::before {
    content: url("../../img/icon-3.png");
    .icons1;
  }
}

.about-us__item--likes {
  width: 181px;

  &::before {
    content: url("../../img/icon-5.png");
    .icons1;
  }
}

.about-us__item--handle {
  width: 211px;

  &::before {
    content: url("../../img/icon-2.png");
    .icons1;
  }
}

.about-us__item--domestic {
  width: 251px;

  &::before {
    content: url("../../img/icon-4.png");
    .icons1;
  }
}

.about-us__item--package {
  width: 198px;

  &::before {
    content: url("../../img/icon-6.png");
    .icons1;
  }
}
