
.advert-video__wrapper {
  border: 1px solid #ececec;
  margin-bottom: 60px;
}

.advert-video__title {
  .m0p0;
  font-family: @font700;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  padding-top: 22px;
}

.advert-video__title {
  font-family: @font700;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  width: 126px;
  padding-left: 91px;
  position: relative;
  @media (min-width: 768px) {
    width: 100%;
  }

  &:before {
    content: url("@{path}img/icon-video.svg");
    position: absolute;
    left: 33px;
    top: 28px;
  }
}

.advert-video__play {
  margin-top: 25px;
}

.advert-video__about {
  font-family: @font400;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  width: 217px;
  padding-left: 34px;
  margin-top: 23px;
  padding-bottom: 29px;
}

.advert-video__order {
  width: 192px;
  margin-left: 34px;
  margin-top: -18px;
  padding-right: 18px;
  margin-bottom: 32px;
}
