.advert-video {
}

.advert-video__wrapper {
  border-bottom: 1px solid #ececec;
  border-top: 1px solid #ececec;
  margin-bottom: 60px;
}

.advert-video__title {
  font-family: @font700;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

.advert-video__order {
  margin-bottom: 40px;
}


.advert-video__title {
  font-family: @font700;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  width: 126px;
  padding-left: 91px;
  position: relative;

  &:before {
    content: url("@{path}img/icon-video.svg");
    position: absolute;
    left: 10px;
    top: 10px;
  }

}

.advert-video__about {
  font-family: @font400;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  width: 217px;
  padding-left: 34px;
  padding-top: 34px;
  padding-bottom: 29px;
}

.advert-video__order {
  width: 192px;
  margin-left: 34px;
}
