.container {
  width: 100%;
  max-width: 320px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 768px;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (min-width: 1150px) {
    max-width: 1154px;
    padding-left: 52px;
    padding-right: 52px;
  }
}

.container--1 {
  @media (min-width: 768px) {
    background-color: #F1F1F1;
  }
}

.container__extra-info {
  @media (min-width: 768px) {
    margin-top: -24px;
    .flex();
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: 1150px) {
    margin-top: -28px;
  }
}

.container__tel-mail {
  @media (min-width: 768px) {
    .flex();
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 0;
  }

  @media (min-width: 1150px) {
    width: 875px;
    padding-bottom: 3px;
  }
}

.form__grey {
  @media (min-width: 768px) {
    background-color: #F1F1F1;
    padding-bottom: 28px;
    margin-top: 57px;
  }

  @media (min-width: 1150px) {
    padding-bottom: 25px;
    margin-top: 63px;
  }
}

.container-grey-1 {
  background-color: #F9F9F9;
}

.form__grey--mode {
  @media (min-width: 768px) {
    margin-top: 24px;
  }
}
