.contacts {
  margin-top: 86px;
  position: relative;

  @media (min-width: 770px) {
    margin-top: 72px;
  }
  @media (min-width: 1154px) {
    margin-top: 103px;

  }
}

.contacts .container {
  @media (min-width: 770px) {
    .flex();

  }
  @media (min-width: 1154px) {

  }
}

.contacts__title {
  .m0p0;
  font-family: @font700;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  position: relative;
  margin-left: -2px;
  order: -1;

  @media (min-width: 770px) {
    font-size: 43px;
    margin-left: -3px;
    order: 0;
    margin-top: -3px;
    &::before {
      content: url("@{path}img/icon-flag.svg");
      position: absolute;
      top: -25px;
      left: 622px;
    }
  }
  @media (min-width: 1154px) {
    font-size: 53px;
    margin-left: 0;
    order: -1;
    margin-top: 90px;
    margin-bottom: 33px;
    z-index: 10;
    &::before {
      left: -107px;
      top: -24px;
    }
  }
}

.contacts__list {
  .m0p0;
  border-collapse: collapse;
  margin-top: -2px;
  display: block;
  margin-bottom: 50px;
  @media (min-width: 770px) {
    display: block;
    margin-left: 5px;
    margin-top: 29px;
    order: 1;
  }
  @media (min-width: 1154px) {
    width: 300px;
    margin: 0;
    order: 0;
    margin-left: 6px;
    margin-bottom: 79px;
    margin-top: -1px;
  }
}

.contacts__list tbody {
  @media (min-width: 1154px) {
    margin-left: 3px;
  }
}

.contacts__list tbody {
  @media (min-width: 770px) {
    .flex();
    justify-content: flex-start;
    align-items: baseline;
  }
}

.contacts__view {
  .flex;
  margin-top: 29px;
}

.contacts__view + .contacts__view {
  @media (min-width: 770px) {
    margin-top: 30px;
    margin-left: 68px;
  }
  @media (min-width: 1154px) {
    margin-left: 0;
  }
}

.contacts__item {
  .m0p0;
  font-family: @font400;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  width: 92px;
  display: block;
  margin-left: -24px;
  @media (min-width: 770px) {
    font-size: 17px;
  }
}

.contacts__value {
  .m0p0;
  font-family: @font400;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  text-align: start;
  margin-right: -10px;
  display: block;
  position: relative;
  padding-left: 9px;
  @media (min-width: 770px) {
    font-size: 17px;
    width: 207px;
    padding-left: 5px;
  }
}

.contacts__value--mod2 {
  width: 160px;
  padding-top: 1px;
  @media (min-width: 770px) {
    width: 230px;
    padding-left: 7px;
  }
  @media (min-width: 1154px) {
    width: 230px;
    padding-left: 5px;
  }
}

.contacts__value--mod {

  &:hover {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {

    content: "";
    width: 177px;
    height: 1px;
    background-color: #62d1ba;
    position: absolute;
    top: 28px;
    left: 10px;

    @media (min-width: 770px) {
      content: "";
      width: 199px;
      height: 1px;
      background-color: #62D1BA;
      position: absolute;
      top: 30px;
      left: 6px;
    }

    @media (min-width: 1154px) {
      top: 28px;
      left: 5px;
    }
  }
}

.contacts__value--mod-link {
  text-decoration: none;
  color: inherit;
}

.contacts__view:last-child {
  @media (min-width: 770px) {
    border-bottom: none;
  }
}


.contacts__map {
  margin: 0 auto;
  margin-top: -14px;
  position: relative;
  order: 1;
  width: 322px;
  height: 457px;
  margin-left: -30px;

  & iframe {
    width: 322px;
    height: 457px;
  }

  @media (min-width: 770px) {
    .m0p0;
    margin-top: 8px;
    order: 2;
    width: 768px;
    height: 457px;
    margin-left: -50px;
    & iframe {
      width: 768px;
      height: 457px;
    }
  }
  @media (min-width: 1154px) {
    order: 2;
    margin-top: -457px;
    margin-left: 399px;
    width: 525px;
    height: 457px;
    & iframe {
      width: 525px;
      height: 457px;
    }
  }

  &::before {
    content: "";
    background-image: url("@{path}img/icon-map-pin.svg");
    width: 67px;
    height: 100px;
    position: absolute;
    top: 144px;
    left: 139px;
    @media (min-width: 770px) {
      top: 223px;
      left: 50%;
      transform: translate(-44px, -84px);
    }
    @media (min-width: 1154px) {
      top: 50%;
      left: 50%;
      transform: translate(-44px, -84px);
    }
  }
}

.contacts__map-picture {
  width: 322px;
  height: 457px;
  margin-left: -30px;

  @media (min-width: 770px) {
    width: 768px;
    height: 457px;
    margin-left: -50px;
  }
  @media (min-width: 1154px) {
    width: 525px;
    height: 457px;
    margin-left: -45px;
  }
}

.contacts__button {
  margin-top: 39px;
  order: 2;
  padding-right: 5px;

  @media (min-width: 770px) {
    margin-left: 220px;
    display: block;
    margin-top: 52px;
    width: 230px;
    order: 3;
    padding-left: 3px;
    padding-top: 3px;
  }
  @media (min-width: 1154px) {
    margin: 0;
    order: 1;
    margin-right: 138px;
    width: 230px;
    margin-left: 5px;
    margin-top: -3px;
  }
}

.contacts__map-container {
  .flex();
  justify-content: center;
}

.contacts__wrapper {
  @media (max-width: 769px) {
    .flex();
  }

  @media (min-width: 770px) {
    .flex();
  }
  @media (min-width: 1154px) {
    .flex();
    width: 37%;
    margin-left: 170px;
    margin-right: 10px;

  }
}
