.contacts {
  margin-top: 88px;
  position: relative;
}

.contacts .container {
  @media (min-width: 770px) {
    .flex();
    flex-direction: row;
    height: 512px;
    align-items: flex-end;
    justify-content: flex-start;
  }
  @media (min-width: 1154px) {
    flex-direction: column;
    align-items: flex-end;
  }
}

.contacts__title {
  .m0p0;
  font-family: @font700;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  position: relative;

  @media (min-width: 770px) {
    font-size: 43px;
    &::before {
      content: url("@{path}img/icon-flag.svg");
      position: absolute;
      top: -26px;
      left: 650px;
    }
  }
  @media (min-width: 1154px) {
    font-size: 53px;
    order: -1;
    margin-right: 107px;
    &::before {
      left: -83px;
    }
  }
}

.contacts__list {
  .m0p0;
  border-collapse: collapse;
  margin-top: -2px;
  display: block;
  margin-bottom: 50px;
  @media (min-width: 770px) {
    display: block;
  }
  @media (min-width: 1154px) {
    width: 370px;
    margin: 0;
    order: 0;
    margin-top: 80px;
  }
}

.contacts__list tbody {
  @media (min-width: 770px) {
    .flex();
    justify-content: flex-start;
    align-items: baseline;
  }
}

.contacts__view {
  .flex;
  margin-top: 29px;
}

.contacts__view + .contacts__view {
  @media (min-width: 770px) {
    margin-top: 30px;
    margin-left: 75px;
  }
  @media (min-width: 1154px) {
    margin-left: 0;
  }
}

.contacts__item {
  .m0p0;
  font-family: @font400;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  width: 92px;
  display: block;
  margin-left: -24px;
  @media (min-width: 770px) {
    font-size: 17px;
  }
}

.contacts__value {
  .m0p0;
  font-family: @font400;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  text-align: start;
  margin-right: -10px;
  display: block;
  position: relative;
  padding-left: 9px;
  @media (min-width: 770px) {
    font-size: 17px;
    width: 207px;
  }
}

.contacts__value--mod2 {
  width: 150px;
  @media (min-width: 770px) {
    width: 230px;
  }
}

.contacts__value--mod {

  &:hover {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    width: 177px;
    height: 1px;
    background-color: #62D1BA;
    position: absolute;
    top: 29px;
    left: 10px;
  }
}

.contacts__value--mod-link {
  text-decoration: none;
  color: inherit;
}

.contacts__view:last-child {
  @media (min-width: 770px) {
    border-bottom: none;
  }
}


.contacts__map {
  margin: 0 auto;
  margin-top: -12px;
  position: relative;
  @media (min-width: 770px) {
    margin-top: 50px;
  }
  @media (min-width: 1154px) {
    margin: 0;
    order: 2;
  }

  &::before {
    content: "";
    background-image: url("@{path}img/icon-map-pin.svg");
    width: 67px;
    height: 100px;
    position: absolute;
    top: 144px;
    left: 108px;
  }
}

.contacts__map-picture {
  width: 322px;
  height: 457px;
  margin-left: -30px;

  @media (min-width: 770px) {
    width: 768px;
    height: 457px;
    margin-left: -50px;
  }
  @media (min-width: 1154px) {
    width: 525px;
    height: 457px;
    margin-left: -52px;
  }
}

.contacts__button {
  margin-top: 34px;
  padding-right: 17px;

  @media (min-width: 770px) {
    margin: 0 auto;
    display: block;
    margin-top: 50px;
  }
  @media (min-width: 1154px) {
    margin: 0;
    order: 1;
    margin-right: 148px;
    margin-top: 70px;
    width: 230px;
  }
}

.contacts__map-container {
  .flex();
  justify-content: center;
}
