.form {
  .flex(@direction: column);
}

.form-group {
  .flex;
  width: 100%;
}

.form-type__select,
.form-color__select {
  display: none;
}

.title-form {
  margin-bottom: 30px;
}

.form-type__name {
  font-family: @font700;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  margin-left: 62px;
  margin-bottom: 13px;
  padding-top: 15px;
  position: relative;

  &--1::before {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #444444;
    position: absolute;
    left: -63px;
    top: 7px;


  }

  &--2::before {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #444444;
    position: absolute;
    left: -63px;
    top: 7px;

  }
}

.form-color {
  .flex();
  margin-top: 33px;
}


.form-color__name {
  font-family: @font700;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  margin-left: 62px;
  margin-bottom: 33px;
  padding-top: 15px;
  position: relative;

  &--1::before {
    content: "";
    width: 40px;
    height: 39px;
    border: 1px solid #444444;
    position: absolute;
    left: -63px;
    top: 7px;
  }

  &--2::before {
    content: "";
    width: 40px;
    height: 39px;
    border: 1px solid #444444;
    position: absolute;
    left: -63px;
    top: 7px;
  }

  &--3::before {
    content: "";
    width: 40px;
    height: 39px;
    border: 1px solid #444444;
    position: absolute;
    left: -63px;
    top: 7px;
  }

  &--4::before {
    content: "";
    width: 40px;
    height: 39px;
    border: 1px solid #444444;
    position: absolute;
    left: -63px;
    top: 7px;
  }

  &--5::before {
    content: "";
    width: 40px;
    height: 39px;
    border: 1px solid #444444;
    position: absolute;
    left: -63px;
    top: 7px;
  }

  &--6::before {
    content: "";
    width: 40px;
    height: 39px;
    border: 1px solid #444444;
    position: absolute;
    left: -63px;
    top: 7px;
  }
}

.form-fullname__select, .form-tel__select, .form-email__select, {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  padding-bottom: 15px;
}

.form-fullname__select::-webkit-input-placeholder, .form-tel__select::-webkit-input-placeholder, .form-email__select, .form-extra__select {
  color: #444444;
  font-family: @font400;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.3;
  padding-bottom: 17px;
}


.form-header {
  background-color: @grey;
}

.form-header__name {
  .page-title(@pb:80px);
  margin-bottom: 29px;
}

.form-header__text {
  font-family: @font400;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.form-tel, .form-email, .form-extra {
  position: relative;
  margin-top: 20px;
}

.form-tel .title-form::after {
  content: "";
  width: 198px;
  height: 1px;
  background-color: #62D1BA;
  position: absolute;
  top: 24px;
  margin-left: 31px;
}

.form-extra__select {
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
  min-height: 142px;
}

.form__attention--info {
  font-family: @font400;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.form__attention {
  margin-top: 18px;
}

.form__button {
  margin-top: 31px;
}
