.form {
  .flex(@direction: column);
  margin-top: 10px;
  @media (min-width: 1154px) {
    margin-top: -66px;
  }
}

.form-header__title {
  @media (min-width: 770px) {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 25px;
  }
}

.form-header__name {
  font-family: "OpenSansBold", Arial, sans-serif;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
  padding-top: 72px;
  padding-bottom: 46px;
  padding-left: 6px;
  @media (min-width: 770px) {
    font-size: 43px;
  }
  @media (min-width: 1154px) {
    font-size: 53px;
  }
}

.form-header__text {
  .m0p0;
  font-family: @font400;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 23px;
  @media (min-width: 770px) {
    font-size: 17px;
  }
  @media (min-width: 1154px) {
    width: 672px;
  }
}

.title-form {
  .m0p0;
  margin-top: 14px;
  margin-bottom: 16px;
  position: relative;
  @media (min-width: 770px) {
    margin-right: 120px;
  }

  &::after {
    content: "";
    width: 198px;
    height: 1px;
    background-color: #62D1BA;
    position: absolute;
    top: 9px;
    left: 62px;
    @media (min-width: 770px) {
      content: none;
    }
  }
}

.form-color {
  .flex();
  margin-top: 17px;
  flex-direction: column;
  @media (min-width: 770px) {
    .flex();
    flex-direction: row;
    margin-top: 50px ;
    flex-wrap: nowrap;
  }
}

.form-group {
  .flex;
  width: 100%;
  @media (min-width: 770px) {
    margin-bottom: 30px;
  }
}

.form-header__about {
  @media (min-width: 770px) {
    margin-top: 85px;
  }
  @media (min-width: 1154px) {
    margin-bottom: 73px;
    margin-left: 157px;
  }
}

.form-type {
  @media (min-width: 770px) {
    .flex();
    flex-direction: row;
    margin-top: 50px ;
    flex-wrap: nowrap;
  }
}

.form-type__select,
.form-color__select {
  display: none;
}

.form-type__select:checked ~ .form-type__name::after {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #62d1ba;;
  position: absolute;
  left: -50px;
  top: 19px;
  @media (min-width: 770px) {
    width: 22px;
    height: 22px;
    top: 22px;
    left: -47px;
  }
}

.form-color__select:checked ~ .form-color__name::after {
  content: url("@{path}img/icon-tick.svg");
  width: 22px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  left: -57px;
  top: 15px;
  @media (min-width: 770px) {
    width: 33px;
    height: 22px;
  }
}

.form-email .title-form::after {
  left: 82px;
  top: 6px;
  width: 179px;
}

.form-type__name {
  font-family: @font700;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  margin-left: 62px;
  margin-bottom: 13px;
  padding-top: 15px;
  position: relative;
  @media (min-width: 770px) {
    font-size: 19px;
    padding-left: 30px;
  }

  &--1::before {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #444444;
    position: absolute;
    left: -62px;
    top: 8px;
    @media (min-width: 770px) {
      width: 52px;
      height: 52px;
    }
  }

  &--2::before {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #444444;
    position: absolute;
    left: -63px;
    top: 7px;
    @media (min-width: 770px) {
      width: 52px;
      height: 52px;
    }
  }
}

.form-color__name {
  font-family: @font700;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  margin-left: 62px;
  margin-bottom: 33px;
  padding-top: 15px;
  position: relative;
  @media (min-width: 770px) {
    font-size: 19px;
  }

  &--1::before {
    content: "";
    width: 40px;
    height: 39px;
    border: 1px solid #444444;
    position: absolute;
    left: -63px;
    top: 8px;
    @media (min-width: 770px) {
      width: 54px;
      height: 52px;
    }
  }

  &--2::before {
    content: "";
    width: 40px;
    height: 39px;
    border: 1px solid #444444;
    position: absolute;
    left: -63px;
    top: 3px;
    @media (min-width: 770px) {
      width: 54px;
      height: 52px;
    }
  }

  &--3::before {
    content: "";
    width: 40px;
    height: 39px;
    border: 1px solid #444444;
    position: absolute;
    left: -63px;
    top: -1px;
    @media (min-width: 770px) {
      width: 54px;
      height: 52px;
    }
  }

  &--4::before {
    content: "";
    width: 40px;
    height: 39px;
    border: 1px solid #444444;
    position: absolute;
    left: -63px;
    top: -1px;
    @media (min-width: 770px) {
      width: 54px;
      height: 52px;
    }
  }

  &--5::before {
    content: "";
    width: 40px;
    height: 39px;
    border: 1px solid #444444;
    position: absolute;
    left: -63px;
    top: 0;
    @media (min-width: 770px) {
      width: 54px;
      height: 52px;
    }
  }

  &--6::before {
    content: "";
    width: 40px;
    height: 39px;
    border: 1px solid #444444;
    position: absolute;
    left: -63px;
    top: 0;
    @media (min-width: 770px) {
      width: 54px;
      height: 52px;
    }
  }

  &--3 {
    padding-top: 10px;
  }

  &--4 {
    padding-top: 10px;
  }

  &--5 {
    padding-top: 10px;
  }

  &--6 {
    padding-top: 10px;
  }
}

.form-fullname {
  @media (min-width: 770px) {
    .flex();
    padding-top: 40px;
    overflow: hidden;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  @media (min-width: 1154px) {
    padding-bottom: 0;
  }
}


.form-fullname .title-form {
  margin-top: 11px;
  margin-bottom: 25px;
}


.form-fullname__select::-webkit-input-placeholder, .form-tel__select::-webkit-input-placeholder, .form-email__select, .form-extra__select {
  color: #C9C9C9;
  font-family: @font400;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  padding-bottom: 17px;
  @media (min-width: 770px) {
    font-size: 19px;
  }
}

.form-fullname__select, .form-tel__select, .form-email__select, {
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
  padding-bottom: 13px;
  margin-bottom: 5px;
  @media (min-width: 770px) {
    padding-bottom: 5px;
  }
}

.form-email .form-email__select, .form-tel .form-tel__select {
  @media (min-width: 770px) {
    background-color: inherit;
  }
}

.form-email__select .form-tel__select {
  @media (min-width: 770px) {
    background-color: inherit;
  }
}

.form-header {
  background-color: @grey;

  @media (min-width: 770px) {
    margin-top: -82px;
  }
  @media (min-width: 1154px) {
    margin-top: 0;
    margin-bottom: 65px;
  }
}

.form-header__title {

  position: relative;
  @media (min-width: 770px) {
    &::after {
      content: url("@{path}img/zigzag-fill-desktop-big.png");
      position: absolute;
      top: 216px;
      left: -54px;
    }
  }

  @media (min-width: 1154px) {
    &::after {
      left: 107px;
    }
  }
}

.form-tel, .form-email, .form-extra {
  position: relative;
  @media (min-width: 770px) {
    .flex();
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

.form-tel .form-group {

  @media (min-width: 770px) {

  }
}

.form-email .form-group {

  @media (min-width: 770px) {

  }
}

.form-tel {
  margin-top: 13px;
  margin-bottom: 21px;

  & .title-form {
    padding-bottom: 7px;
  }
}

.form-email {
  margin-top: -5px;

  & .title-form {
    padding-bottom: 6px;
  }
}

.form-extra {
  margin-top: 14px;
  @media (min-width: 770px) {
    .flex();
    flex-wrap: nowrap;
    margin-top: 55px;
    margin-bottom: 55px;

  }

  & .title-form {
    padding-bottom: 11px;
  }

  & ::after {
    left: 62px;
  }
}

.form-wrapper-name {
  @media (min-width: 770px) {
    .flex();
    flex-wrap: nowrap;
  }
}

.form-fullname__wrapper .form-group {

  @media (min-width: 770px) {

  }
}

.form-tel .title-form::after {
  content: "";
  width: 198px;
  height: 1px;
  background-color: #62D1BA;
  position: absolute;
  top: 8px;
  margin-left: 31px;
  left: 31px;
  @media (min-width: 770px) {
    content: none;
  }

}

.form-extra__select {
  width: 100%;
  padding-top: 14px;
  padding-left: 15px;
  min-height: 142px;
  margin-bottom: -9px;
  border: 2px solid black;
  @media (min-width: 770px) {
  }
  @media (min-width: 1154px) {
    width: 700px;
  }
}

.form__attention--info {
  font-family: @font400;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  @media (min-width: 1154px) {
    font-size: 17px;
  }
}

.form__attention {
  margin-top: 18px;
  @media (min-width: 770px) {
    order: 1;
    margin-top: 50px;
  }
}

.form__button {
  margin-top: 31px;
  padding-left: 0px;
  @media (min-width: 770px) {
    order: 0;
    width: 230px;
  }
  @media (min-width: 1154px) {
    margin-left: 158px;
  }
}

.page-footer-form {
  margin-top: 55px;
}


.form-color-wrapper {

  @media (min-width: 770px) {
    .flex();
    flex-direction: row;
    justify-content: flex-start;
  }
}

.form-color-wrapper .form-group {
  @media (min-width: 770px) {
    width: 250px;
  }
}

.form-type-wrapper {
  @media (min-width: 770px) {
    .flex();
    flex-direction: column;
  }
}

.form-type-wrapper .form-group {
  @media (min-width: 770px) {
    width: 100%;
  }
}

.form-fullname__wrapper {
  @media (min-width: 770px) {
    .flex();
    flex-direction: column;
    width: 700px;
  }
}

.form-tel .title-form::before {
  content: url("@{path}img/icon-phone.svg");
  position: absolute;
  opacity: 0.2;
  top: 36px;
  left: 224px;
  @media (min-width: 770px) {
    content: url("@{path}img/icon-phone.svg");
    position: absolute;
    opacity: 0.2;
    top: -22px;
    left: 630px;
  }
  @media (min-width: 1154px) {
    left: 816px;
  }
}

.form-email .title-form::before {
  content: url("@{path}img/icon-mail.svg");
  position: absolute;
  opacity: 0.2;
  top: 36px;
  left: 224px;
  @media (min-width: 770px) {
    content: url("@{path}img/icon-mail.svg");
    position: absolute;
    opacity: 0.2;
    top: -22px;
    left: 625px;
  }
  @media (min-width: 1154px) {
    left: 816px;
  }
}
