.main-categories {
  background-image: url("@{path}img/hero-mobile.png");
  background-repeat: no-repeat;
  background-position: top;
  background-position-y: -17px;
  background-position-x: -157px;
  min-height: 488px;
  margin-top: 29px;

  .flex();
  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("@{path}img/hero-mobile@2x.jpg");
    background-position: center 0;
    background-position-y: 0;
    background-position-x: -164px;
    background-size: 539px;
  }


  @media (min-width: 770px) {
    background-image: url("@{path}img/hero-tablet@1x.jpg");
    background-position-y: 0;
    background-position-x: -240px;
    position: relative;
    border-top: 1px solid #ECECEC;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 746px;
    margin-top: -45px;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("@{path}img/hero-tablet@2x.jpg");
      background-size: 1150px;
      background-position: center 0;
    }
  }

  @media (min-width: 1154px) {
    margin-top: -42px;
    background-image: url("@{path}img/hero-desktop@1x.jpg");
    background-position-x: -50px;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("@{path}img/hero-desktop@2x.jpg");
      background-size: 1150px;
    }
  }
}

.main-categories__title {
  color: #010000;
  font-family: @font700;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  width: 244px;
  text-align: center;
  padding-top: 71px;
  margin: 0;
  margin-left: -22px;
  margin-bottom: auto;
  margin: 0 auto;
  @media (min-width: 770px) {
    margin: 0 auto;
    font-family: @font700;
    font-size: 43px;
    font-weight: 700;
    line-height: 50px;
    width: 508px;
    margin-top: 83px;
    margin-left: 79px;
    br {
      display: none
    }

    margin-top: 85px;
  }
  @media (min-width: 1154px) {
    font-size: 53px;
    width: 630px;
    margin-left: 0;
    margin: 0 auto;
    margin-top: 83px;
    line-height: 57px;
  }
}

.main-categories__list {
  list-style-type: none;
  .m0p0;
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  width: 320px;
  margin-left: -30px;
  margin-right: -30px;
  position: relative;
  @media (min-width: 770px) {
    margin-top: auto;
    flex-direction: row;
    position: relative;
    width: 100%;
    margin-left: 0;
    &::after {
      content: "";
      background-image: url("@{path}img/bg-zigzag-fill.svg");
      position: absolute;
      top: 108px;
      left: -49px;
      height: 24px;
      width: 770px;

    }
  }
  @media (min-width: 1154px) {
    padding: 0;
    &::after {
      background-image: url("@{path}img/bg-zigzag-fill-desktop.svg");
      width: 1250px;
      left: -100px;
      top: 102px;
    }
  }
}


.main-categories__item {
  width: 100%;
  height: 103px;
  position: relative;
  @media (min-width: 770px) {
    width: auto;
    flex-grow: 1;
    min-height: 119px;
  }
}

.main-categories__item + .main-categories__item {
  margin-top: 1px;
  @media (min-width: 770px) {
    margin: 0;
  }
}

.main-categories__link {
  font-family: @font700;
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  text-align: start;
  text-decoration: none;
  width: 106px;
  display: block;
  padding-top: 25px;
  position: relative;
  padding-left: 29px;

  @media (min-width: 770px) {
    padding-top: 30px;
    position: relative;
    padding-left: 37px;
    line-height: 29px;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-categories__link:hover .main-categories__link {
  &--interior {
    opacity: 0.7;
  }

  &--toys {
    opacity: 0.7;
  }
}

.main-categories__item:hover {
  margin-top: -5px;
  margin-bottom: 5px;
  transition: 0.5s;

  & .main-categories__link {
    padding-top: 20px;
    transition: 0.5s;
  }
}

.main-categories__item:nth-child(odd) {
  background-color: #63D1BB;
}

.main-categories__item:nth-child(even) {
  background-color: #56C3B2;
}

.main-categories__link--interior-icon, .main-categories__link--toy-icon {
  color: #149080;
  position: absolute;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-categories__link--interior-icon {
  left: 244px;
  top: 24px;
  @media (min-width: 770px) {
    left: 258px;
    top: 31px;
  }
  @media (min-width: 1154px) {
    left: 449px;
    top: 30px;
  }
}

.main-categories__link--toy-icon {
  left: 234px;
  top: 21px;
  @media (min-width: 770px) {
    left: 239px;
    top: 33px;
  }
  @media (min-width: 1154px) {
    left: 430px;
    top: 31px;
  }
}
