.main-categories {
  background-image: url("@{path}img/hero-mobile.png");
  background-repeat: no-repeat;
  background-position: top;
  min-height: 373px;
  background-position-y: -16px;
  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("@{path}img/hero-mobile@2x.jpg");
    background-size: 1150px auto;
    background-position: center 0;
  }


  @media (min-width: 770px) {
    background-image: url("@{path}img/hero-tablet@1x.jpg");
    background-position-y: 0;
    margin-top: -65px;
    position: relative;
    border-top: 1px solid #ECECEC;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 746px;
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("@{path}img/hero-tablet@2x.jpg");
      background-size: 2300px auto;
      background-position: center 0;
    }
  }

  @media (min-width: 1154px) {
    margin-top: -67px;
    background-image: url("@{path}img/hero-desktop@1x.jpg");
    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("@{path}img/hero-desktop@2x.jpg");
      background-size: 2300px auto;
      background-position: center 0;
    }
  }
}

.main-categories__title {
  color: #010000;
  font-family: @font700;
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  width: 244px;
  text-align: center;
  padding-top: 71px;
  margin: 0;
  margin-left: -22px;
  @media (min-width: 770px) {
    margin: 0 auto;
    font-family: @font700;
    font-size: 43px;
    font-weight: 700;
    line-height: 50px;
    width: 508px;
    br {
      display: none
    }

    margin-top: 85px;
  }
  @media (min-width: 1154px) {
    font-size: 53px;
    width: 630px;
  }
}

.main-categories__list {
  list-style-type: none;
  .m0p0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 123px;
  width: 320px;
  margin-left: -30px;
  @media (min-width: 770px) {
    margin-top: auto;
    flex-direction: row;
    position: relative;
    width: auto;
    margin-left: 0;
    &::after {
      content: url("@{path}img/bg-zigzag-fill.svg");
      position: absolute;
      top: 103px;
    }
  }
  @media (min-width: 1154px) {
    padding: 0;
  }
}


.main-categories__item {
  width: 100%;
  height: 103px;
  position: relative;
  @media (min-width: 770px) {
    width: auto;
    flex-grow: 1;
    min-height: 119px;
  }
}

.main-categories__item + .main-categories__item {
  margin-top: 1px;
  @media (min-width: 770px) {
    margin: 0;
  }
}

.main-categories__link {
  font-family: @font700;
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  text-align: start;
  text-decoration: none;
  width: 106px;
  display: block;
  padding-top: 25px;
  position: relative;
}

.main-categories__item--interior .main-categories__link::after {
  content: url("@{path}img/icon-interior.svg");
  opacity: 0.2;
  width: 40px;
  height: 62px;
  position: absolute;
  top: 22px;
  left: 170px;
  @media (min-width: 1154px) {
    left: 394px;
  }
}

.main-categories__item:nth-child(odd) {
  background-color: #63D1BB;
}

.main-categories__item:nth-child(even) {
  background-color: #56C3B2;
}

.main-categories__item--toys .main-categories__link::after {
  content: url("@{path}img/icon-toy.svg");
  opacity: 0.2;
  width: 40px;
  height: 62px;
  position: absolute;
  top: 20px;
  left: 158px;
  @media (min-width: 1154px) {
    left: 394px;
  }
}
