.menu__list {
  .m0p0;
  list-style-type: none;
  display: flex;
  .flex;
  width: 320px;
  margin-left: -30px;

  @media (min-width: 768px) {
    min-width: 306px;
    justify-content: space-between;
    margin-left: 0;
    padding-top: 3px;
    flex-wrap: nowrap;
    align-items: baseline;
    order: -1;
    z-index: 5;
  }

  @media (min-width: 1150px) {
    justify-content: flex-start;
    width: 50%;
    flex-wrap: wrap;
    margin-top: 2px;
    order: 0;
  }
}

.menu__list .menu__item-link {
  @media (min-width: 768px) {
    font-size: 15px;
    white-space: nowrap;
  }

  @media (min-width: 1150px) {
    font-size: 17px;
    letter-spacing: 0.1px;
  }
}

.menu__list-sub .menu__item-link {
  @media (min-width: 768px) {
    font-size: 17px;
  }
}

.menu__list-sub {
  .m0p0;
  margin-left: -30px;
  list-style-type: none;

  @media (min-width: 768px) {
    width: auto;
    .flex();
    flex-wrap: nowrap;
    .m0p0;
    order: 1;
    align-self: flex-start;
    margin-top: 26px;
    margin-left: -224px;
  }

  @media (min-width: 1150px) {
    width: 50%;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 30px;
    order: 0;
    align-self: auto;
    margin-left: -223px;
  }
}

.menu__item {
  @media (max-width: 769px) {
    height: 79px;
    margin: 0;
    padding-bottom: 0;
    padding-top: 26px;
  }

  .m0p0;
  width: 100%;
  padding-top: 27px;
  padding-left: 70px;
  position: relative;
  border-top: 1px solid #ececec;

  @media (min-width: 768px) {
    width: auto;
    padding-left: 0;
    padding-top: 0;
    border: none;
  }

  &:first-child {
    @media (min-width: 768px) {
      z-index: 1;
      margin-right: 38px;
    }
  }

  @media (min-width: 1150px) {
    z-index: 1;
    margin-right: 83px;
  }
}

.menu__list-sub .menu__item {
  @media (min-width: 768px) {
    z-index: 10;
  }
}

.menu__item:nth-child(2) {
  @media (min-width: 768px) {
    z-index: 2;
  }

  @media (min-width: 1150px) {
    margin-left: -26px;
    padding-right: 15px;
  }
}

.menu__item-search-icon {
  color: #d7d7d7;
  position: absolute;
  left: 32px;
  top: 30px;

  @media (min-width: 768px) {
    left: 34px;
    top: 5px;
  }

  @media (min-width: 1150px) {
    left: 42px;
    top: 45px;
  }
}

.menu__item-cart-icon {
  color: #d7d7d7;
  position: absolute;
  left: 30px;
  top: 31px;

  @media (min-width: 768px) {
    left: -51px;
    top: 4px;
  }
}

.menu__item--search {
  & .menu__item-link {
    @media (min-width: 768px) {
      font-size: 0;
    }
  }

  position: relative;
  margin-left: 0;

  &:hover svg {
    color: "#82dac9";
  }

  @media (min-width: 768px) {
    .m0p0;
    width: 85px;
    margin-left: 2px;

    &::before {
      content: "";
      width: 1px;
      height: 104px;
      background-color: #ececec;
      top: -47px;
      left: -1px;
      z-index: 10;
      position: absolute;
    }

    &::after {
      content: "";
      width: 1px;
      height: 104px;
      background-color: "#ececec";
      top: -47px;
      left: 82px;
      z-index: 10;
      position: absolute;
    }
  }

  @media (min-width: 1150px) {
    margin-right: 90px;
    width: 84px;
    margin-top: -40px;
    z-index: 1;
    margin-left: auto;
    border: none;

    &::before {
      content: none;
    }

    &::after {
      content: none;
    }
  }
}

.menu__item--search {
  @media (min-width: 1150px) {
    &::before {
      content: "";
      width: 1px;
      height: 92px;
      background-color: #ececec;
      position: absolute;
      top: 6px;
      left: 9px;
    }

    &::after {
      content: "";
      width: 1px;
      height: 92px;
      background-color: #ececec;
      position: absolute;
      top: 6px;
      left: 92px;
    }
  }
}

.menu__list-sub .menu__item--cart {
  position: relative;
  margin-left: 0;

  &:hover svg {
    color: #82dac9;
  }

  @media (min-width: 768px) {
    .m0p0;
    padding-right: 0;
    margin-left: 44px;
  }

  @media (min-width: 1150px) {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    padding-right: 3px;
  }
}

.menu__list .menu__item:last-child {
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: 768px) {
    margin-top: 25px;
    margin-left: -3px;
  }

  @media (min-width: 1150px) {
    margin-left: -18px;
  }
}

.menu__item-link {
  text-decoration: none;
  font-family: @font700;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  padding-left: 5px;

  @media (min-width: 768px) {
    font-family: @font700;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    padding: 0;
    white-space: nowrap;
  }

  @media (min-width: 1150px) {
    font-size: 17px;
    padding-left: 1px;
  }
}

.menu__item--extra {
  display: none;

  @media (min-width: 1150px) {
    display: inline-block;
    z-index: 1;
  }
}

.menu__list-extra {
  display: none;
  z-index: 3;

  @media (min-width: 1150px) {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    width: 100%;
    .m0p0;
    margin-top: 49px;

    & .menu__item {
      margin-right: 84px;
    }
  }
}

.menu__list-extra {
  & .menu__item-link {
    @media (min-width: 1150px) {
      font-size: 15px;
      letter-spacing: 0.1px;
    }
  }
}

.menu__list .menu__item:first-child::after {
  @media (min-width: 1150px) {
    // content: "";
    height: 105px;
    width: 1px;
    background-color: #ececec;
    top: -48px;
    left: 186px;
    position: absolute;
  }
}

.menu__list--extra {
  display: none;
  z-index: 5;

  @media (min-width: 768px) {
    .m0p0;
    display: inline-block;
    list-style-type: none;
    margin-left: 136px;
    margin-right: 0;
    margin-top: 2px;
    margin-bottom: 0;
  }

  @media (min-width: 1150px) {
    margin-left: 0;
    padding-right: 1px;
    padding-top: 3px;
    padding-left: 162px;
    margin-top: 22px;
  }
}

.menu__item--extra-info {
  font-family: @font400;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #444444;
  right: 1px;
  z-index: 1;
  white-space: nowrap;
  margin-left: 14px;
}

.menu__list-wrapper {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    width: 238px;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 2px;
  }

  @media (min-width: 1150px) {
    width: 100%;
    margin-bottom: 0;
  }
}

.menu__list .menu__item:first-child {
  @media (min-width: 1150px) {
    margin-right: 89px;
    margin-left: -2px;
  }
}

.menu__list-sub .menu__item--search {
  @media (min-width: 1150px) {
    margin-right: 89px;
  }
}

.menu__list-sub &--cart {
  @media (max-width: 769px) {
    margin-top: 0;
  }
}
