.page-footer {
  margin-top: 39px;
  background-color: @grey;
  padding-bottom: 31px;
}

.page-footer__content {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.page-footer__list {
  .m0p0;
  list-style-type: none;
  .flex;
  justify-content: space-between;
  width: 141px;
  margin-left: -5px;
}

.page-footer__made {
  .flex;
  justify-content: center;
}

.page-footer__made-by {
  font-family: @font700;
  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  .m0p0;
  padding-top: 53px;
  margin-left: -58px;
}
