.page-header {
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
  margin-top: 10px;
}

.page-header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-height: 79px;
}

.page-header__logo {
  margin-left: 86px;
  padding-top: 22px;
}

.page-header__menu {
  margin-left: auto;
  padding-top: 20px;
}

.page-header__button {
  width: 20px;
  height: 14px;
  margin-top: 11px;
  background-image: url("../../img/menu.png");
  border: none;
  cursor: pointer;
}

