.page-header {
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}
//ВРЕМЕННО ДЛЯ КАТАЛОГА--------------------------------------------
.page-header--temporary {
  MARGIN-TOP: 306px;
}

.page-header__wrapper {
  margin-left: auto;
  .flex();
  min-height: 79px;
  align-items: center;
}

.page-header__logo {
  margin: 0 auto;
  padding-top: 22px;
}

.page-header__menu {
  margin-top: 17px;
  display: none;
}

.page-header__container-button {
  margin-top: -18px;
}

.page-header__button--close {
  background-image: url("@{path}img/icon-menu-close.svg");
  position: absolute;
  width: 21px;
  height: 20px;
  cursor: pointer;
  margin-left: -21px;
  margin-top: -1px;
}

.page-header__button {
  width: 20px;
  height: 14px;
  margin-top: 11px;
  background-image: url("@{path}img/menu.png");
  border: none;
  cursor: pointer;
}


