.reviews {
  margin-top: -4px;
  @media (min-width: 768px) {
    margin-top: 130px;
    background-image: url("@{path}img/review@1x.jpg");
    background-repeat: no-repeat;
    padding-bottom: 52px;
    position: relative;
    &::after {
      content: url("@{path}img/big-zigzag-line-desktop.png");
      bottom: -93px;
      position: absolute;
    }
  }
}

.reviews__blockquote {
  .m0p0;
  @media (min-width: 768px) {
    .flex();
    flex-direction: column;
  }
}

.reviews__wrapper {
  margin-top: 61px;
  @media (min-width: 768px) {
    width: 300px;
    margin-top: -33px;
  }
}

.reviews__title {
  font-family: @font700;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  .m0p0;
  @media (min-width: 768px) {
    font-size: 43px;
  }
}

.reviews__list {
  list-style-type: none;
  .m0p0;
}

.reviews__text {
  font-family: @font400;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  .m0p0;
  width: 257px;
  margin-top: 24px;
  @media (min-width: 768px) {
    font-size: 17px;
    margin-top: 65px;
    width: 650px;
  }
}

.reviews__author {
  display: block;
  margin-top: 29px;
  font-family: @font700;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  font-style: normal;
  @media (min-width: 768px) {
    margin-top: 63px;
  }
}

.reviews__author-contact {
  display: block;
  margin-top: 6px;
  font-family: @font400;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
}

.reviews__nav {
  .flex;
  margin-top: 33px;
  @media (min-width: 768px) {
    order: 1;
    margin-top: -52px;
    margin-left: auto;
  }
}

.reviews__nav-button--back {
  width: 130px;
  border: 1px solid #ececec;
  position: relative;
  @media (min-width: 768px) {
    border: none;
    width: 110px;
  }

  &::before {
    content: url("@{path}img/icon-left-arrow.svg");
    position: absolute;
    left: 36px;
    top: 12px;
  }
}

.reviews__nav-button--next {
  width: 130px;
  border: 1px solid #ececec;
  position: relative;
  @media (min-width: 768px) {
    border: none;
    width: 110px;
  }

  &::before {
    content: url("@{path}img/icon-right-arrow.svg");
    position: absolute;
    right: 41px;
    top: 12px;
  }
}

.reviews__send {
  margin-top: 38px;
  position: relative;
  padding-left: 0px;
  @media (min-width: 768px) {
    margin-top: 54px;
    width: 175px;
    margin-left: auto;
    order: -1;
  }

  &::after {
    content: url("@{path}img/zigzag-line-desktop.png");
    position: absolute;
    left: -32px;
    top: 85px;
    @media (min-width: 768px) {
      content: none;
    }
  }
}
