.reviews {
  margin-top: 50px;
  @media (min-width: 770px) {
    margin-top: 130px;
    padding-bottom: 52px;
    position: relative;
  }
}

.reviews .container {
  @media (min-width: 770px) {
    background-image: url("@{path}img/review@1x.jpg");
    background-repeat: no-repeat;
    padding-bottom: 52px;
    padding-top: 86px;
    &::after {
      content: url("@{path}img/big-zigzag-line-desktop.png");
      bottom: -93px;
      position: absolute;
      left: 66px;
    }
  }
  @media (min-width: 1154px) {
    background-position-x: 27px;
    .flex();
  }
}

.reviews__blockquote {
  .m0p0;
  margin-top: -22px;
  @media (min-width: 770px) {
    .flex();
    flex-direction: row;
    margin-top: -31px;
  }
}

.reviews__wrapper {
  margin-top: 61px;
  @media (min-width: 770px) {
    margin-top: 0;
    margin-bottom: 50px;
  }
  @media (min-width: 1154px) {
    margin-left: 148px;
  }
}


.reviews__title {
  font-family: @font700;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  .m0p0;
  @media (min-width: 770px) {
    font-size: 43px;
  }
  @media (min-width: 1154px) {
    font-size: 53px;
    margin-left: 148px;
  }
}

.reviews__list {
  list-style-type: none;
  .m0p0;
}

.reviews__text {
  font-family: @font400;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  .m0p0;
  width: 257px;
  margin-top: 24px;

  & br {
    display: none;
  }

  @media (min-width: 770px) {
    font-size: 17px;
    margin-top: 0;
    width: 645px;
  }
  @media (min-width: 1154px) {
    width: 770px;
    & br {
      display: inline;
    }
  }
}


.reviews__author {
  display: block;
  margin-top: 29px;
  font-family: @font700;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  font-style: normal;
  margin-bottom: 30px;
  @media (min-width: 770px) {
    margin-top: 0;
  }
  @media (min-width: 1154px) {
    margin-left: 148px;
  }
}

.reviews__author-contact {
  display: block;
  margin-top: 6px;
  font-family: @font400;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
}

.reviews__nav {
  .flex;
  margin-top: 33px;
  @media (min-width: 770px) {
    margin-top: 0;
    justify-content: space-between;
    width: 100%;
  }
}

.reviews__nav-button--back {
  width: 130px;
  border: 1px solid #ececec;
  position: relative;
  @media (min-width: 770px) {
    border: none;
    width: 110px;
  }

  &::before {
    content: url("@{path}img/icon-left-arrow.svg");
    position: absolute;
    left: 36px;
    top: 12px;
  }
}

.reviews__nav-button--next {
  width: 130px;
  border: 1px solid #ececec;
  position: relative;
  @media (min-width: 770px) {
    border: none;
    width: 110px;
  }

  &::before {
    content: url("@{path}img/icon-right-arrow.svg");
    position: absolute;
    right: 41px;
    top: 12px;
  }
}

.reviews__btns {
  .flex();
  @media (min-width: 770px) {
    margin-right: -41px;
  }
}

.reviews__send {
  margin-top: 38px;
  position: relative;
  padding-left: 0px;
  @media (min-width: 770px) {
    margin-top: 0;
    width: 175px;
  }

  &::after {
    content: url("@{path}img/zigzag-line-desktop.png");
    position: absolute;
    left: -32px;
    top: 85px;
    @media (min-width: 770px) {
      content: none;
    }
  }
}

.reviews__btn {
  @media (min-width: 770px) {
    order: -1;
    margin-left: auto;
    margin-bottom: 40px;
    .flex();
    justify-content: flex-end;
    width: 100%;
  }
}
