.title-form {
  color: #63d1bb;
  font-family: @font700;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.title-form {
  &--default {
    font-family: @font700;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
  }

}
