.title-form {
  color: #63d1bb;
  font-family: @font700;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.title-form {
  &--default {
    font-family: @font700;
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    padding-top: 2px;
    margin-bottom: 14px;
    @media (min-width: 770px) {
      padding-right: 25px;
      font-size: 19px;
      padding-bottom: 62px;
      margin-bottom: -6px;
      margin-top: 4px;
    }
  }

}
