@import "vars";
@import "blocks/container";
@import "blocks/page-header";
@import "blocks/menu";
@import "blocks/main-categories";
@import "blocks/site-logo.less";
@import "blocks/week-item";

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff");
  src: url("../fonts/opensans.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/opensansbold.woff");
  src: url("../fonts/opensansbold.woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  width: 320px;
  margin: auto;
}
